{% load staticfiles %}<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
{% block blockbots %}  <meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,100,300,200,500,600,700,800,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static "circly/css/bootstrap.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "circly/css/style.css" %}" />
{% block stylesheets %}{% endblock %}

  <script src="{% static "circly/js/modernizr.min.js" %}" ></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

{% block contentdivstart %}{% endblock %}

<header>
  <div class="container">
    <h1><a href="/"><img src="{% static "circly/img/logo2.svg" %}" /></a></h1>
    <nav>
      <ul>
{% block nav %}
        <!-- <li><a href="">About</a></li> -->
        <li><a href="/checkmeout/">#CheckMeOut</a></li>
        <li><a href="/#signup">Sign Up</a></li>
{% endblock %}
      </ul>
    </nav>
  </div><!--/container-->
</header>

{% block contentdivfinish %}{% endblock %}

</div><!--/home-->

<footer>
  <div class="container">
    <p>Circly.org was built by <a href="https://twitter.com/mik3cap">Mike Caprio</a>, <a href="https://twitter.com/madelenamak">Madelena Mak</a>, <a href="https://twitter.com/kennedysgarage">Kennedy</a>, and <a href="https://twitter.com/spelsasaurus">Sarah Pels</a> at the 2015 <a href="http://codersvscancer.splashthat.com/">Coders vs. Cancer</a> hackathon. <a href="https://github.com/mik3cap/serkli">View Source Code</a>.</p>
  </div><!--/container-->
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static "circly/js/jquery-1.11.3.min.js" %}" ><\/script>')</script>
<script src="{% static "circly/js/script.js" %}" ></script>
</body>
</html>
