{% extends "circly/base.html" %}
{% load static from staticfiles %}
{% block title %}Dashboard | Circly{% endblock %}

{% block contentdivstart %}<div id="dashboard">{% endblock %}

{% block contentdivfinish %}
<section class="{{ circle_members_len }}">
  <div class="container">
    <h4>{{ circle_owner }}'s Circle</h4>
    {% for each_member in circle_members %}
    <div class="row">
      <div class="col-md-12">
        <p><img src="{% static 'circly/img/stock_person.svg' %}" /> {{ each_member.member_name }}</p>
      </div>
    </div>
  {% endfor %}
  </div>
</section>
{% endblock %}
