{% extends "circly/base.html" %}

{% block title %}Sign Up | Circly{% endblock %}

{% block contentdivstart %}<div id="flow">{% endblock %}

{% block contentdivfinish %}
<section class="getstarted">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="title">
          <h3>Hello Kennedy</h3>
          <hr/>
        </div><!--/title-->
      </div><!--/col-->
    </div><!--/row-->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <form>
          <p>My <label for="fName">name</label> is <input id="fName" name="cm-name" type="text" /> and I want to create a circle of support to prevent breast cancer.</p>
          <p>I am a <input id="fChromosome" name="cm-chromosome" type="text" /> that is between <input id="fAge" name="cm-age" type="text" /> years old and my <label for="fEthnicity">ethnicity</label>  is <input id="fEthnicity" name="cm-ethnicity" type="text" />. I currently  drink, <input id="fSmoke" name="cm-smoke" type="text" /> <label for="fSmoke">smoke</label>, and <label for="fExercise">exercise</label> <input id="fExercise" name="cm-exerciser" type="text" /> with a <label for="fBmi">BMI</label> of <input id="fBmi" name="cm-bmi" type="text" />.</p>
          <button type="button" class="btn btn-primary btn-lg">Next</button>
        </form>
      </div><!--/col-->
    </div><!--/row-->
  </div><!--/container-->
</section>
{% endblock %}
