{% extends "circly/base.html" %}

{% block title %}Sign Up | Circly{% endblock %}

{% block contentdivstart %}<div id="flow">{% endblock %}

{% block contentdivfinish %}
<section class="getstarted">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="title">
          <h3>Hello Kennedy</h3>
          <hr/>
        </div><!--/title-->
      </div><!--/col-->
    </div><!--/row-->
    <div class="row">
      <div class="col-md-12">
        <form>
          <p>I am a
            <select id="fChromosome" name="cm-chromosome">
              <option value="xx" selected>XX (female)</option>
              <option value="xy">XY (male)</option>
            </select>
            that is
            <select id="fAge" name="cm-age">
              <option value="u20" selected>under 20</option>
              <option value="20-29">between 20 and 29</option>
              <option value="30-39">between 30 and 39</option>
              <option value="40-44">between 40 and 44</option>
              <option value="45-49">between 45 and 49</option>
              <option value="50-54">between 50 and 54</option>
              <option value="55-59">between 55 and 59</option>
              <option value="60o">60 and over</option>
            </select>
            years old and my
            <label for="fEthnicity">ethnicity</label>
            is
            <select id="fEthnicity" name="cm-ethnicity">
              <option value="caucasian" selected>Caucasian Non-Hispanic</option>
              <option value="african">African American</option>
              <option value="hispanic">Hispanic</option>
              <option value="asian">Asian</option>
              <option value="other">Other race or ethnicity</option>
            </select>
            . I currently
            <select id="fDrink" name="cm-drink">
              <option value="no" selected>Don't</option>
              <option value="yes">Do</option>
            </select>
            drink,
            <select id="fSmoke" name="cm-smoke">
              <option value="no" selected>Don't</option>
              <option value="yes">Do</option>
            </select>
            <label for="fSmoke">smoke</label>
            , and
            <select id="fExercise" name="cm-exerciser">
              <option value="no" selected>Don't</option>
              <option value="yes">Do</option>
            </select>
            <label for="fExercise">exercise</label>
            with a
            <label for="fBmi">BMI</label>
            of
            <select id="fBmi" name="cm-bmi">
              <option value="u25" selected>Under 25</option>
              <option value="o25">Over 25</option>
            </select>
            .</p>
          <!-- <button type="button" class="btn btn-primary btn-lg">Next</button> -->
          <a href="{% url 'connect:dashboard' %}" class="btn btn-primary btn-lg">Next</a>
        </form>
      </div><!--/col-->
    </div><!--/row-->
  </div><!--/container-->
</section>
{% endblock %}
