{% extends "circly/base.html" %}
{% load static from staticfiles %}
{% block title %}Circly{% endblock %}

{% block bodyattrs %} onload="goToOnLoadAnchor"{% endblock %}

{% block contentdivstart %}<div id="home">{% endblock %}

{% block contentdivfinish %}
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Self care through the healing power of your circle.</h1>
        <h2>1 in 8 women will develop breast cancer‎. Circly can help you, your friends, and your family lower your risk of breast cancer. Just tell us a little about yourself so we can help you understand what your risks are.</h2>

        <a href="#signup" class="btn btn-default btn-lg ghost">Get Started</a>
      </div>
    </div>
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="row">
      <ul>
        <li class="col-md-4">
          <img src="{% static "circly/img/care.svg" %}" />
          <h3>Preventive Care</h3>
          <p>There are many positive steps we can all take to prevent breast cancer. The research has been done; you can easily learn about the risks and stay healthy by staying connected.</p>
        </li>
        <li class="col-md-4">
          <img src="{% static "circly/img/network.svg" %}" />
          <h3>Use Your Network</h3>
          <p>You are extremely likely to know people who have been affected by breast cancer, either through their own diagnosis or the experience of a family member.</p>
        </li>
        <li class="col-md-4">
          <img src="{% static "circly/img/safe.svg" %}" />
          <h3>Safe &amp; Secure</h3>
          <p>We have built a system that gives you a safe, simple, and secure way to connect and stay connected with your friends and family.</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="network">
  <div class="container">
    <h3>You are not alone.</h3>
  </div>
</section>

<a name="signup"></a>
<section class="getstarted">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="title">
          <h3>Get Started</h3>
          <hr/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        {{ custom_errors }}

        <form class="madlib" action="{% url 'connect:submitname' %}" method="post">
          {% csrf_token %}
          <p>My <label for="first_name">name</label> is <input type="text" id="first_name" name="first_name" value="{{ first_name }}">, my <label for="contact_info">contact info</label> is <input type="text" id="contact_info" name="contact_info" placeholder="Email or Cell" value="{{ contact_info }}">, and I want to create a circle of support to prevent breast cancer.</p>
          <input type="submit" class="btn btn-primary btn-lg" value="Sign Up" />
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block bodyscripts %}
<script>
  function goToOnLoadAnchor()
  {
      window.location.hash('{{ anchor }}');
  }
</script>
{% endblock %}