{% extends "circly/base.html" %}
{% load static from staticfiles %}
{% block title %}Circly{% endblock %}

{% block contentdivstart %}<div id="home">{% endblock %}

{% block contentdivfinish %}
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>1 in 8 women will develop breast cancer‎.</h1>
        <h2>Circly will help you, your friends, and family lower your risk of breast cancer. Tell us a little about yourself so we can understand what your risks are.</h2>
        <!-- <button type="button" class="btn btn-default btn-lg ghost">Get Started</button> -->
        <a href="#signup" class="btn btn-default btn-lg ghost">Get Started</a>
      </div><!--/col-->
    </div><!--/row-->
  </div><!--/container-->
</section>

<section class="features">
  <div class="container">
    <div class="row">
      <ul>
        <li class="col-md-4">
          <img src="{% static "circly/img/care.svg" %}" />
          <h3>Preventive Care</h3>
          <p>There is a bunch of tips out there and the research has been done. You can easily find out how at risk you are and stay connected.</p>
        </li>
        <li class="col-md-4">
          <img src="{% static "circly/img/network.svg" %}" />
          <h3>Use A Network</h3>
          <p>You probably know people who have been affected by breast cancer, either through their own diagnosis or the experience of a family member.</p>
        </li>
        <li class="col-md-4">
          <img src="{% static "circly/img/safe.svg" %}" />
          <h3>Safe &amp; Secure</h3>
          <p>We have built a platform that is a convenient, safe, and secure environment to openly connect with your friends and family.</p>
        </li>
      </ul>
    </div><!--/row-->
  </div><!--/container-->
</section>

<section class="network">
  <div class="container">
    <h3>You are not alone.</h3>
  </div><!--/container-->
</section>

<a name="signup"></a>
<section class="getstarted">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="title">
          <h3>Get Started</h3>
          <hr/>
        </div><!--/title-->
      </div><!--/col-->
    </div><!--/row-->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <form>
          <p>My <label for="fName">name</label> is <input id="fName" name="cm-name" type="text" /> and I want to create a circle of support to prevent breast cancer.</p>
          <!-- <button type="button" class="btn btn-primary btn-lg">Sign Up</button> -->
          <a href="{% url 'connect:flow' %}" class="btn btn-primary btn-lg">Sign Up</a>
        </form>
      </div><!--/col-->
    </div><!--/row-->
  </div><!--/container-->
</section>
{% endblock %}
