{% extends "circly/base.html" %}

{% block title %}Sign Up | Circly{% endblock %}

{% block contentdivstart %}<div id="invite">{% endblock %}

{% block contentdivfinish %}
<section class="getstarted">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="title">
          <h3>Hello {{ member.member_name }}</h3>
          <hr/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>{{ form.non_field_errors }}</p>
        <form class="madlib" action="{% url 'connect:submitinvite' %}" method="post">
{% include "circly/profile_form_snippet.html" %}
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
