{% extends "circly/base.html" %}
{% load static from staticfiles %}
{% block title %}Dashboard | Circly{% endblock %}

{% block contentdivstart %}<div id="network">{% endblock %}

{% block contentdivfinish %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="title">
          <h3>Add your friends &amp; family</h3>
          <hr/>
        </div><!--/title-->
      </div><!--/col-->
    </div><!--/row-->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">


        <form class="form-horizontal">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name" class="col-sm-4 control-label">Member #1</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="name" placeholder="Name">
                </div><!--/col-->
              </div><!--/form-group-->
            </div><!--/col-->
            <div class="col-md-6">
              <div class="form-group">
                <label for="email" class="col-sm-4 control-label">Contact</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="email" placeholder="Email or Mobile Phone">
                </div><!--/col-->
              </div><!--/form-group-->
            </div><!--/col-->
          </div><!--/row-->

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name" class="col-sm-4 control-label">Member #2</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="name" placeholder="Name">
                </div><!--/col-->
              </div><!--/form-group-->
            </div><!--/col-->
            <div class="col-md-6">
              <div class="form-group">
                <label for="email" class="col-sm-4 control-label">Contact</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="email" placeholder="Email or Mobile Phone">
                </div><!--/col-->
              </div><!--/form-group-->
            </div><!--/col-->
          </div><!--/row-->

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name" class="col-sm-4 control-label">Member #3</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="name" placeholder="Name">
                </div><!--/col-->
              </div><!--/form-group-->
            </div><!--/col-->
            <div class="col-md-6">
              <div class="form-group">
                <label for="email" class="col-sm-4 control-label">Contact</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="email" placeholder="Email or Mobile Phone">
                </div><!--/col-->
              </div><!--/form-group-->
            </div><!--/col-->
          </div><!--/row-->

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name" class="col-sm-4 control-label">Member #4</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="name" placeholder="Name">
                </div><!--/col-->
              </div><!--/form-group-->
            </div><!--/col-->
            <div class="col-md-6">
              <div class="form-group">
                <label for="email" class="col-sm-4 control-label">Contact</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="email" placeholder="Email or Mobile Phone">
                </div><!--/col-->
              </div><!--/form-group-->
            </div><!--/col-->
          </div><!--/row-->

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name" class="col-sm-4 control-label">Member #5</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="name" placeholder="Name">
                </div><!--/col-->
              </div><!--/form-group-->
            </div><!--/col-->
            <div class="col-md-6">
              <div class="form-group">
                <label for="email" class="col-sm-4 control-label">Contact</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="email" placeholder="Email or Mobile Phone">
                </div><!--/col-->
              </div><!--/form-group-->
            </div><!--/col-->
          </div><!--/row-->

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name" class="col-sm-4 control-label">Member #6</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="name" placeholder="Name">
                </div><!--/col-->
              </div><!--/form-group-->
            </div><!--/col-->
            <div class="col-md-6">
              <div class="form-group">
                <label for="email" class="col-sm-4 control-label">Contact</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="email" placeholder="Email or Mobile Phone">
                </div><!--/col-->
              </div><!--/form-group-->
            </div><!--/col-->
          </div><!--/row-->

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name" class="col-sm-4 control-label">Member #7</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="name" placeholder="Name">
                </div><!--/col-->
              </div><!--/form-group-->
            </div><!--/col-->
            <div class="col-md-6">
              <div class="form-group">
                <label for="email" class="col-sm-4 control-label">Contact</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="email" placeholder="Email or Mobile Phone">
                </div><!--/col-->
              </div><!--/form-group-->
            </div><!--/col-->
          </div><!--/row-->

          <a href="{% url 'connect:dashboard' %}" class="btn btn-primary btn-lg pull-right">Next</a>

        </form>
      </div><!--/col-->
    </div><!--/row-->
  </div><!--/container-->
</section>
{% endblock %}
