{% extends "circly/base.html" %}
{% load static from staticfiles %}
{% block title %}Dashboard | Circly{% endblock %}

{% block contentdivstart %}<div id="network">{% endblock %}

{% block contentdivfinish %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="title">
          <h3>Add your loved ones</h3>
          <hr/>
          <p>Choose at least three more people whom you know will support you, that you will take care of in turn.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {{ custom_errors }}

        <form class="form-horizontal" action="{% url 'connect:submitcircle' %}" method="post">
          {% csrf_token %}

          {% for i in num_range_str %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name_{{ i }}" class="col-sm-4 control-label">Member #{{ i }}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="name_{{ i }}" name="name_{{ i }}" placeholder="Name">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="contact_{{ i }}" class="col-sm-4 control-label">Contact</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="contact_{{ i }}" name="contact_{{ i }}" placeholder="Email or Mobile Phone">
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

          <div class="row">
            <div class="col-md-6 col-md-offset-5">
              <div class="title"></div>
              <input type="submit" class="btn btn-primary btn-lg" value="Next" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
