{% extends "circly/base.html" %}
{% load static from staticfiles %}
{% block title %}Dashboard | Circly{% endblock %}

{% block contentdivstart %}<div id="dashboard">{% endblock %}

{% block contentdivfinish %}
<section class="getstarted">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="title">
          <h3>Thanks {{ member.member_name }}!</h3>
          <hr/>
          <p>Welcome {{ circle_owner }}'s Circle.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
