{% extends "circly/base.html" %}
{% load static from staticfiles %}
{% block title %}Dashboard | Circly{% endblock %}

{% block contentdivstart %}<div id="dashboard">{% endblock %}

{% block contentdivfinish %}
<section class="getstarted">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="title">
          <h3>Thanks {{ member.member_name }}!</h3>
          <hr/>
          <p>You are now in <strong>{{ circle_owner }}'s Circle</strong>. There is really not much for you to see, we will send you instructions about the next steps.<br/>Feel free to follow us on Twitter <a href="https://twitter.com/circlyorg">@circlyorg</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
